---
layout: layouts/home.njk
title: "lauka.net - All Books"
permalink: "/books/"
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>
<a href="/">⇠ back home</a>
<br/><br/>
<p class="p-note">
    These are all the books I've rated so far (oldest to newest):
</p>
<ul>
{%- for book in collections.book -%}
  <li><a href="{{ book.url }}">{{ book.data.name }}</a>
    {% for i in range(0, book.data.rating) -%}
        ⭐
    {%- endfor %}
  </li>
{%- endfor -%}
</ul>
