---
layout: layouts/home.njk
title: "lauka.net - Lost & Found"
eleventyExcludeFromCollections: true
---
<h1>{{ title }}</h1>
<a href="/">⇠ home</a>
<br/><br/>
<p class="p-note">
    Hi! Es sieht so aus als hättest du etwas von mir Verlorenes gefunden!<br/>
    Bitte kontaktiere mich über einen der untenstehenden Kontaktwege!<br/>
    Vielen Dank ♥
</p>
<p class="special">--</p>
<p class="p-note">
    Hi! It looke like you found a lost item of mine!<br/>
    Please contact me via one of the ways described below!<br/>
    Thank you ♥
</p>

<h2>Kontaktwege / Ways to contact me</h2>
<p class="p-note">
<i class="special">Telefon/Phone:</i> +49 172 2585130</br>
<i class="special">Email:</i>         mail@lauka.net</br>
<i class="special">Discord:</i>       @lauralani</br>
<i class="special">Fediverse:</i>     @lauralani@chaos.social / @lauralani@girl-is.gay</br>
</p>
