---
layout: layouts/home.njk
title: "Impressum und Datenschutzerklärung"
permalink: impressum.html
eleventyExcludeFromCollections: true
---
<h1><a href="/">lauka.net</a></h1>
<h2>Impressum</h2>

<i>[German law demands this]</i><p>

Laura Kalb<br>
Schulstr. 11<br>
91334 Hemhofen<br>

Kontakt: lauka (minus) website (at) lauka  (punkt) net

</p><h2>Datenschutzerklärung</h2>

<p>
Der Webserver schreibt Logdateien mit den Zugriffen und den IP-Adressen
der Zugreifer. Diese dienen der Fehlersuche im Krisenfall und werden
ansonsten nicht ausgewertet. Da es hier keine Benutzerkonten und keine
Tracking-Cookies o.ä. gibt, betrachte ich diese Logdateien nicht als
personenbezogen.
</p><p>
Abgesehen davon werden keine Daten erhoben, gespeichert oder
ausgewertet.
</p>
