---
layout: layouts/home.njk
title: "lauka.net"
---

<h1>{{ title }}</h1>
<p>
    Hi, my name is
    <strong>
        <span class="p-name">Laura
                Kalb</span>
    </strong>
    and I (literally) do things on the internet.
</p>
<h2>About me</h2>
<p class="p-note">
    I'm a network engineer, with a pretty mixed technical background. I started my career in software development, and then
    moved on to be a sysadmin with main emphasis on linux environments. Afterwards, I was a mix of network engineer and site
    reliability engineer. Now I'm responsible for the network infrastructure at a big datacenter provider.
</p>
<h2>Books</h2>
<p class="p-note">
    I always loved to read as many books as I can. So here I'm listing the books I've read since I started this webpage, 
    including a rating and short description. These are the last few books I've rated:
</p>
<ul>
{%- for book in collections.book | reverse -%}
    {% if loop.index0 < 5 %}
  <li><a href="{{ book.url }}">{{ book.data.name }}</a>   
          {% for i in range(0, book.data.rating) -%}
                ⭐
        {%- endfor %}
  </li>
    {% endif %}
{%- endfor -%}
  <li><a href="/books/">more ...</a></li>
</ul>


<h2>Some nice stuff</h2>
<p class="p-note">
    A list of
    <strong>tools</strong>,
    <strong>projects</strong>
    and
    <strong>fun stuff</strong>
    that I already have worked on or that I want to work on in the future.
</p>
<ul>
    <li>hosting my own mail with
        <a href="https://mailcow.email/" target="_blank">mailcow</a>
    </li>
    <li>managing my domains via Infrastructure as Code and Github Actions with
        <a href="https://github.com/octodns/octodns" target="_blank">OctoDNS</a>
    </li>
    <li>wrote my own
        <a href="https://github.com/lauralani/dyndns-script" target="_blank">dyndns tool</a>
        in Python</li>
</ul>
<h2>Notepad</h2>
<p class="p-note">
    My list of awesome technologies I want to implement soon:
</p>
<ul>
    <li>
        <a href="https://min.io/" target="_blank">Minio</a>: A S3-compatible storage (for selfhosting static websites like this one)</li>
</ul>
<h2>Contact me</h2>
<p class="p-note">
    Some ways to contact me:
</p>
<ul>
    <li>mail (at) (this tld)</li>
    <li>
        <a href="https://www.linkedin.com/in/laura-kalb/" target="_blank">LinkedIn</a>
    </li>
    <li>
        <a href="https://www.xing.com/profile/Laura_Kalb3/" target="_blank">Xing</a>
    </li>
</ul>
<h2>About</h2>
<p class="p-note">
    This website is
    <a href="https://github.com/lauralani/www-lauka-net" target="_blank">open source</a>. It's an entirely static webpage generated by
    <a href="https://www.11ty.dev/" target="_blank">{{ eleventy.generator }}</a>
    and hosted with
    <a href="https://www.netlify.com/" target="_blank">Netlify</a>.
</p>
