---
layout: layouts/home.njk
title: "lauka.net"
eleventyExcludeFromCollections: true
date: 2023-08-07T08:58:15+02:00
---

<h1>{{ title }}</h1>
<p>
    Hi, my name is <i class="special">Laura Kalb</i> and I (literally) do things on the internet.
</p>
<h2>About me</h2>
<p class="p-note">
    I'm a network engineer, with a pretty mixed technical background. I started my career in software development, and then
    moved on to be a sysadmin with main emphasis on linux environments. Afterwards, I was a mix of network engineer and site
    reliability engineer. Now I'm responsible for the network infrastructure at a big datacenter provider. Currently I'm 
    primarily working on network automation and our internal network infrastructure, and I'm playing a lot with the Golang
    programming language =).
</p>

<h2>Some nice stuff</h2>
<p class="p-note">
    A list of
    <strong>tools</strong>,
    <strong>projects</strong>
    and
    <strong>fun stuff</strong>
    that I already have worked on or that I want to work on in the future.
</p>
<ul>
    <li>
        <a href="/interesting-stuff">A list of awesome stuff curated by me!</a>
    </li>
    <li>building my own IPAM with <a href="https://go.dev/" target="_blank">Go</a>.
        Source: <a href="https://codeberg.org/lauralani/ipam" target="_blank">https://codeberg.org/lauralani/ipam</a>
        (still in development, but has a lot of features already! :)
    </li>
    <li>My own URL Shortener with <a href="https://go.dev/" target="_blank">Go</a>.
        Source: <a href="https://codeberg.org/lauralani/go-urlsh" target="_blank">https://codeberg.org/lauralani/go-urlsh</a>
    </li>
    <li>hosting my own mail with
        <a href="https://mailcow.email/" target="_blank">mailcow</a>
    </li>
    <li>managing my domains via Infrastructure as Code and CI/CD with
        <a href="https://github.com/octodns/octodns" target="_blank">OctoDNS</a>
    </li>
    <li>wrote my own
        <a href="https://codeberg.org/lauralani/dyndns-script" target="_blank">dyndns tool</a>
        in Python (supports Azure DNS and OVH)</li>
    <li>Automated my home WIFI with radius assigned VLANs via Freeradius and custom frontend</li>
    <li>Some minor other projects:
        <ul>
            <li><a href="https://codeberg.org/lauralani/ovh-apikey-manager" target="_blank">OVH ApiKey Manager</a></li>
        </ul>
    </li>
</ul>
<h2>Notepad</h2>
<p class="p-note">
    My list of awesome technologies I want to implement soon:
</p>
<ul>
    <li>
        <a href="https://garagehq.deuxfleurs.fr/" target="_blank">Garage</a>: A S3-compatible storage (for selfhosting static websites like this one)</li>
</ul>

<h2>Books</h2>
<p class="p-note">
    I always loved to read as many books as I can. So here I'm listing the books I've read since I started this webpage, 
    including a rating and short description. These are the last few books I've rated:
</p>
<ul>
{%- for book in collections.book | reverse -%}
    {% if loop.index0 < 5 %}
  <li><a href="{{ book.url }}">{{ book.data.name }}</a>   
          {% for i in range(0, book.data.rating) -%}
                ⭐
        {%- endfor %}
  </li>
    {% endif %}
{%- endfor -%}
  <li><a href="/books/">more ...</a></li>
</ul>

<h2>Contact me</h2>
<p class="p-note">
    Some ways to contact me:
</p>
<ul>
    <li>
        <a rel="me" href="https://social.lila.network/@lauralani">@lauralani@lila.network</a>
    </li>
    <li>mail (at) (this domain) <a href="/encryption/"  title="Lauras GPG and SMIME Public keys">(PGP and S/MIME Keys)</a></li>
    <li>matrix: @lauralani:matrix.org or @lauralani:lila.network</li>
    <li>
        <a href="https://www.linkedin.com/in/laura-kalb/" target="_blank">LinkedIn</a>
    </li>
    <li>
        <a href="https://www.xing.com/profile/Laura_Kalb3/" target="_blank">Xing</a>
    </li>
</ul>
<h2>About</h2>
<p class="p-note">
    This website is open source and hosted at 
    <a href="https://codeberg.org/lauralani/www-lauka-net" target="_blank">Codeberg e.V.</a>. It's an entirely static webpage generated with
    <a href="https://www.11ty.dev/" target="_blank">{{ eleventy.generator }}</a>
    and hosted with Netlify.
    <br/><br/>
    This page makes due without any cookies, frontend javascript, tracking and databases 
    in the effort to make the web quick and usable again :)
    <br/><br/>This page was last updated at {{ page.date | timestamp }}
    <br/><br/>
    Copyright Laura Kalb 2023 - <a href="/impressum.html">Impressum und Datenschutzerklärung</a>
</p>
