a,
body,
h1,
h2,
h3,
html,
li,
p,
span,
strong,
u,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

body {
    font-family: Consolas, monaco, monospace;
    font-size: 130%;
    line-height: 1.4;
    margin: 3% 5%;
    max-width: 50em;
    background: #303030;
    color: #c1c1c1;
}

ul {
    list-style-type: none;
    margin-left: 1rem;
}

ul>li:before {
    content: "-";
    position: absolute;
    margin-left: -1.1rem;
}

a {
    text-decoration: none;
    color: #00cccc
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: .75rem
}

h1,
h2,
h3 {
    line-height: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #d66388;
}

h1:before {
    content: "# ";
    content: "# " / "";
}

h1:after {
    content: "-----";
    content: "-----" / "";
    display: block;
}

h2:before {
    content: "## ";
    content: "## " / "";
}

h3:before {
    content: "### ";
    content: "### " / "";
}

strong {
    font-weight: 700;
}

strong:before {
    content: "*";
    content: "*" / "";
}

strong:after {
    content: "*";
    content: "*" / "";
}

strong {
    color: #d66388
}

p > code, code {
    font: unset;
    font-family: Consolas, monaco, monospace;
    color: cornflowerblue;
}

.special {
    color: #c2f486;
    font-style: normal;
}
